@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	border: none;
	color: #444;
	position: relative;
}
/*-----------------------------------------------------------------*/
/* Navigation
/*-----------------------------------------------------------------*/


#header {
	top: 0;
	z-index: 500;
	width: 100%;
	position: fixed;
	z-index: 99999;
}

#main-menu {
	z-index: 300;
	visibility:visible;
}



#main-menu ul {
	display: block;
	width: 100%;
	text-align: center;
	color: black;
}

#main-menu ul li {
	display: inline-block;
	position: relative;
	color: black;
}

#main-menu ul li a {
	display: inline-block;
	padding:6px 10px;
	line-height: 60px;
	color: black;;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	transition: all 0.25s ease 0s;
	
}

#main-menu ul li a:hover {
	color:black;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

#main-menu ul.nav>li>a:hover, #main-menu ul.nav>li>a:focus {
	background: none;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

#main-menu ul li.active > a, #main-menu ul li.active.has-child > a {
	color: black;
	box-shadow: inset 0 -2px 0 #FFF;
	text-decoration: underline;
	text-decoration-thickness: 3px;

}

.clear-toggle {
	display:none;
	clear:both;
}

.navbar-toggle {
	color: #FFF;
	margin-top: 4px;
	font-size: 32px;
	margin-bottom: 0px;
	padding-top: 9px;
	position: absolute;
	right: 0px;
	padding-right: 0;
}

.logo {
	width: 100% !important;
	height: 100% !important;
}

.logo-nav {
	float: left;
	line-height: 60px;
}

 @media (min-width: 992px) {
	 
 #main-menu.collapse {
 display: block !important;
}

}

 @media (max-width: 992px) {

#main-menu {
	background:#202020;
	color: black;
}
	 
 .navbar-right {
 float:none !important;
 margin-right:0px !important;
}

 .clear-toggle {
 display:block;
}

 .navbar-toggle {
 display: block !important;
}

 #main-menu ul li {
 display: block;
 text-align: left;
 color:black;
}

#main-menu ul li a {
    line-height: 23px;
    display: inherit;
    border-bottom: 1px solid #2C2C2C;
    padding: 5px 20px;
	background:transparent;
	color:blac;
}

#main-menu ul li a:hover, #main-menu ul li.active a {
	background:#2C2C2C !important;
	/*color:#FFF;*/
	color:black;
}

#main-menu ul li.active > a {
    box-shadow: none !important;
}

}

.main h2{
  
   margin-top: 190px;
   color: #00008B;
}
.main .body tr{
	color: black;
	
}
.main .boby table{
	border-color:black;
}

/*-----------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------*/

#contact {
	background:url(../images/parallax/contact.jpg) no-repeat;
}

.contact-form {
	display: block;
	padding: 0px 0px 30px 0px;
}

.contact-info {
	margin-bottom:65px;
}

.contact-info p {
    font-size: 17px;
    line-height: 13px;
    margin-bottom: 16px;
    color: black;
}

footer {
	padding: 17px 0px 10px;
	background: #1C1C1C;
}

.copyright {
	margin-top: 15px;
}

.copyright p{
	color:#CCC;
}

.social-icons {
	width: 100%;
	display: block;
	overflow: hidden;
	text-align:right;
}

.social-icons ul {
	margin:0px;
	padding:0px;
}

.social-icons ul li {
	list-style:none;
	display:inline-block;
}

.social-icons ul li a {
	color: #A7A4A4;
	margin-right:10px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons ul li a:hover {
	color:#FFF;
}

.socials {
	margin-bottom: 10px;
	margin-top: 15px;
	width: 100%;
	background-color: black;
}

.socials ul {
	margin:0px;
	padding:0px;
}

.socials ul li {
	display:inline-block;
	list-style:none;
}

.socials ul li a {
	background: #FFF;
	border: 1px solid #A9ACAE;
	color: #A0A3A5;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	margin-left: 5px;
	text-align: center;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;

}

.socials ul li a:hover {
	background:#7EC13F;
	border-color:#7EC13F;
	color:#FFF;
}

.style1 {
	color: #0083FF
}

.style5 {
color: #0083FF;
font-weight: bold;
font-size: 20px;
font-family: "Times New Roman", Times, serif;
}

.style3 {
color: #0083FF;
font-weight: bold;
font-size: 20px;
font-family: "Times New Roman", Times, serif;
}

.style10 {
color: #0083FF;
font-weight: bold;
font-size: 20px;
font-family: "Times New Roman", Times, serif;
}

a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
.style5 {font-size: 16px; font-family: "Times New Roman", Times, serif; color: #0083FF;}
.style7 {color: #0083FF; font-weight: bold; }
.style1 {font-size:14px; font-family: "Times New Roman", Times, serif; color: #0A0A0A; }

table{
        border-collapse: separate;
        border-spacing: 0 15px;
}

.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links  */
.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;a
}

/* On mouse-over */
.sidenav a:hover, .sidenav .active:hover {
  color: #f1f1f1;
}
 
 #active {
  color: #f1f1f1;
}
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

