.side-nav-bar {
  width: 180px;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #313131;
}

.side-nav-bar a {
  display: block;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 2px;
  font-size: 16px;
  color: #818181;
}

.side-nav-bar a.current,
.side-nav-bar a:hover {
  color: #fff;
  background: #933 url("../images/side-nav-bar/vert-one_arrow.gif") no-repeat 0
    9px;
}

.side-nav-bar a:not(.current):hover {
  animation: scale-up 0.6s;
}

@keyframes scale-up {
  50% {
    transform: scale(1.05, 1.05);
  }
}

.content {
  margin-left: 180px;
  background-color: transparent;
  padding: 20px 40px;
  font-family: "Times New Roman", Times, serif;
}

.content h1 {
  color: #c91d7f;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.content h2 {
  color: #0083ff;
  font-weight: bold;
  font-size: 16px;
}

.content h3 {
  font-weight: bold;
  font-size: 16px;
}
