main {
  display: flex;
  min-height: 491px;
}

.side-nav-bar {
  background-color: #0084ff;
  flex: 0 0 180px;
  line-height: 165%;
}
.side-nav-bar a {
  display: block;
  padding-left: 20px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #fff;
}
.side-nav-bar a.current,
.side-nav-bar a:hover {
  background: #933 url("../images/side-nav-bar/vert-one_arrow.gif") no-repeat 0
    9px;
}

.side-nav-bar a:not(.current):hover {
  background-color: #000;
}

.content {
  background-color: #fff;
  padding: 20px 40px 100px;
  flex: 0 0 734px;
}

.content h1 {
  color: #c91d7f;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.content h2 {
  color: #0083ff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.content h3 {
  font-weight: bold;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
