* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff url("../images/bg_pattern.gif");
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #353535;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
  background-color: transparent;
  z-index: 2;
}

header.opaque {
  background-color: #353535;
}
@media screen and (max-width: 500px) {
  header {
    column-gap: 0;
  }
}
/* --------------------------------------- Logo CSS ------------------------------------- */
.logo-content a {
  display: flex;
}

.logo-content .logo {
  max-width: 90px;
  height: 100px;
  margin-right: 2%;
}
@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}
.clg-name h1 {
  max-height: 80px;
}

.clg-name p {
  font-size: 20px;
  max-height: 20px;
}

/* --------------------------------------- Triple Bar ---------------------------------- */
.icon {
  display: none;
  cursor: pointer;
}

.icon .bar1,
.icon .bar2,
.icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f1f1f1;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.icon.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.icon.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.icon.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* --------------------------------------- Top Nav Bar ---------------------------------- */
.top-nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.top-nav-bar .group {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 50px;
}

.top-nav-bar .top-nav-bar-links {
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 45px;
  margin-bottom: 5px;
}

.top-nav-bar .top-nav-bar-links.current {
  border-bottom: 1px solid #fff;
}

.top-nav-bar .top-nav-bar-links:not(.current) .dropdown-header:hover {
  animation: scale-up 0.6s forwards;
}

.top-nav-bar-links .dropdown-header {
  color: #fff;
  padding: 12px 10px;
  line-height: 20px;
  white-space: nowrap;
  cursor: default;
}

.top-nav-bar-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  left: -100px;
  z-index: 1;
}

.top-nav-bar-links:hover .dropdown-content {
  display: flex;
  padding: 15px 10px 10px 5px;
}

.top-nav-bar-links .dropdown-content .left-column,
.top-nav-bar-links .dropdown-content .right-column {
  width: 160px;
  padding: 0 10px 0 15px;
  border-right: 1px dotted #c1c1c1;
}

.top-nav-bar-links .dropdown-content a {
  color: black;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 5px 0 7px;
  border-bottom: 1px dotted #c1c1c1;
}
.top-nav-bar-links .dropdown-content a:hover {
  color: #ce1d77;
}

@media screen and (max-width: 850px) {
  header .icon {
    display: inline-block;
    margin: auto 20px;
  }
  .icon.change {
    position: relative;
    z-index: 2;
  }
  .top-nav-bar {
    display: none;
    position: absolute;
    top: 75px;
    right: 25px;
    padding-top: 10px;
    background-color: #343535;
  }
  .top-nav-bar.show {
    display: block;
  }
  .top-nav-bar.show .group {
    display: block;
    height: unset;
  }
  .dropdown-content {
    top: 0;
    left: unset !important;
    right: 155px;
  }
}

@media screen and (max-width: 500px) {
  header {
    background-color: #00000045;
  }
  .top-nav-bar-links:hover .dropdown-content {
    display: block;
  }
}

main {
  position: relative;
  margin-top: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #343535;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer h3 {
  font-size: 16px;
  font-weight: normal;
}
footer p {
  font-size: 14px;
  text-indent: unset;
}

@keyframes scale-up {
  50% {
    transform: scale(1.1, 1.05);
  }
  100% {
    transform: scale(1.05, 1);
  }
}
