.content p,
.content li {
  color: #0a0a0a;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

.content p {
  text-indent: 35px;
}

.content ol {
  padding-left: 30px;
}

.content ol[type="I"] li {
  font-size: 16px;
  text-indent: 10px;
  margin-left: 20px;
}
