.content {
  background-color: #fff;
  color: #000;
  padding: 20px 60px;
}
table {
  font-family: "Times New Roman", Times, serif;
  margin: 0 auto;
}

td {
  line-height: 150%;
  font-size: 15px;
}
